body{
    background-color: black;
    display: grid;
    place-items: center;
}
.circle{
    height: 400px;
    width: 400px;
    border-radius: 100%;
    position: relative;
    /* background-color: aqua; */
    border: 3px solid white;
}

.circle .line {
    height: 100%;
    width: 1px;
    display: inline-block;
    position: absolute;
    left: 50%;
    background-color: white;
}

.line:nth-child(1) {
    /* width: 10px; */
    transform: rotate(6deg)
}
.line:nth-child(2) {
    transform: rotate(12deg)
}
.line:nth-child(3) {
    transform: rotate(18deg)
}.line:nth-child(4) {
    transform: rotate(24deg)
}.line:nth-child(5) {
    width: 10px;
    transform: rotate(30deg)
}.line:nth-child(6) {
    transform: rotate(36deg)
}.line:nth-child(7) {
    transform: rotate(42deg)
}.line:nth-child(8) {
    transform: rotate(48deg)
}.line:nth-child(9) {
    transform: rotate(54deg)
}.line:nth-child(10) {
    width: 10px;
    transform: rotate(60deg)
}.line:nth-child(11) {
    transform: rotate(66deg)
}
.line:nth-child(12) {
    transform: rotate(72deg)
}
.line:nth-child(13) {
    transform: rotate(78deg)
}
.line:nth-child(14) {
    transform: rotate(84deg)
}
.line:nth-child(15) {
    width: 10px;
    transform: rotate(90deg)
}
.line:nth-child(16) {
    transform: rotate(96deg)
}
.line:nth-child(17) {
    transform: rotate(102deg)
}
.line:nth-child(18) {
    transform: rotate(108deg)
}
.line:nth-child(19) {
    transform: rotate(114deg)
}
.line:nth-child(20) {
    width: 10px;
    transform: rotate(120deg)
}
.line:nth-child(21) {
    transform: rotate(126deg)
}
.line:nth-child(22) {
    transform: rotate(132deg)
}
.line:nth-child(23) {
    transform: rotate(138deg)
}
.line:nth-child(24) {
    transform: rotate(144deg)
}
.line:nth-child(25) {
    width: 10px;
    transform: rotate(150deg)
}
.line:nth-child(26) {
    transform: rotate(156deg)
}
.line:nth-child(27) {
    transform: rotate(162deg)
}
.line:nth-child(28) {
    transform: rotate(168deg)
}
.line:nth-child(29) {
    transform: rotate(174deg)
}
.line:nth-child(30) {
    width: 10px;
    transform: rotate(180deg)
}
.line:nth-child(31) {
    
    transform: rotate(186deg)
}
.line:nth-child(32) {
    transform: rotate(192deg)
}
.line:nth-child(33) {
    transform: rotate(198deg)
}.line:nth-child(34) {
    transform: rotate(204deg)
}.line:nth-child(35) {
    transform: rotate(210deg)
}.line:nth-child(36) {
    transform: rotate(216deg)
}.line:nth-child(37) {
    transform: rotate(222deg)
}.line:nth-child(38) {
    transform: rotate(228deg)
}.line:nth-child(39) {
    transform: rotate(234deg)
}.line:nth-child(40) {
    transform: rotate(240deg)
}.line:nth-child(41) {
    transform: rotate(246deg)
}
.line:nth-child(42) {
    transform: rotate(252deg)
}
.line:nth-child(43) {
    transform: rotate(258deg)
}
.line:nth-child(44) {
    transform: rotate(264deg)
}
.line:nth-child(45) {
    transform: rotate(270deg)
}
.line:nth-child(46) {
    transform: rotate(276deg)
}
.line:nth-child(47) {
    transform: rotate(282deg)
}
.line:nth-child(48) {
    transform: rotate(288deg)
}
.line:nth-child(49) {
    transform: rotate(294deg)
}
.line:nth-child(50) {
    transform: rotate(300deg)
}
.line:nth-child(51) {
    transform: rotate(306deg)
}
.line:nth-child(52) {
    transform: rotate(312deg)
}
.line:nth-child(53) {
    transform: rotate(318deg)
}
.line:nth-child(54) {
    transform: rotate(324deg)
}
.line:nth-child(55) {
    transform: rotate(330deg)
}
.line:nth-child(56) {
    transform: rotate(336deg)
}
.line:nth-child(57) {
    transform: rotate(342deg)
}
.line:nth-child(58) {
    transform: rotate(348deg)
}
.line:nth-child(59) {
    transform: rotate(354deg)
}
.line:nth-child(60) {
    transform: rotate(360deg)
}
.circle1{
    position: relative;
    height: 350px;
    width: 350px;
    border-radius: 100%;
    background-color: black;
    margin-left: 25px;
    margin-top: 25px;
}
.smallcircle{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 100%;
    margin-left: 170px;
    margin-top: 110px;
}
.secondrectangle{
    position: relative;
    height: 140px;
    width: 6px;
    background-color: orange;
    margin-top: -148px;
    margin-left: 177px;
    animation: rotate 60s steps(60 , end) infinite ;
    transform-origin: center bottom;
    
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.minuterectangle{
    height: 110px;
    width: 8px;
    background-color: white;
    margin-top: -2px;
    margin-left: 175px;
    transform: rotate(360deg);
    animation: rotatee 3600s linear infinite ;
    transform-origin: center top;
    
}
@keyframes rotatee{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.hourrectangle{
    height: 100px;
    width: 10px;
    background-color: plum;
    margin-top: -211px;
    transform: rotate(270deg);
    margin-left: 175px;
    animation: rotateee 86400s linear infinite;

    transform-origin: center bottom;
}
@keyframes rotateee{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.smallcircle1{
    position: relative;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 100%;
    margin-left: 170px;
    margin-top: -10px;
}